body {
  font-family: "Asap", sans-serif;
  width: 100%;
  height: 100%; 
  background-color: rgb(34, 87, 150, 1.0);
  /* background-color: #c4e3f3; */
  /* background-image: linear-gradient(0deg, #fff 0%, #73bfdc 100%); */
  /* background-image: linear-gradient(0deg, #fff 0%, #67abc6 100%) !important; */
}

.header-container {
    display: flex;
    width: auto;
    height: 88px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 1%;
    margin-left: 1%;
    /* nuevo */
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 1%;
} 

.header-container__img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 165px;
    height: 72px;
}

.header-container__img img {
    object-fit: contain;
    max-width: 100% !important;
}

.header-container__p {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    width: 85%;
    height: 72px;
    padding: 5px 8px 8px 8px;
}

.titulo {
    /* color: rgb(34, 87, 150, 1.0); */
    color: darkblue;
    font-family: ui-monospace;
    font-size: 38px;
    margin-bottom: 0!important;
    line-height: 50px;
}

.subtitulo {
    /* color: rgb(34, 87, 150, 1.0); */
    color: darkblue;
    font-weight: bold;
    font-family: math;
    font-size: 20px;
    margin-bottom: 0!important;
}

.container-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row-reverse;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 20000000000;
}

.container-footer p {
    font-size: 14px;
    color: rgb(34, 87, 150, 1.0);
    font-family: sans-serif;
    text-align: center;
    margin: .2em .5em .2em .2em;
}

#top {
    background-color: rgb(34, 87, 150, 1.0);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 1.5%;
    margin-right: 1%;
    margin-bottom: 1.5%;
    margin-left: 1%;
    border-radius: 10px;
}

#breadcrumb { 
    display:inline-block;
}

#folder_actions {
    width: 50%;float:right;
}

a.menu {
    font-family: math;
    font-size: 20px;
    line-height: 1.3;
    color: whitesmoke;
    text-decoration: none;
} 

a.menu:visited { 
    text-decoration: none;
    color: whitesmoke;
}

a.menu:hover {
    color: deepskyblue;
    text-decoration: none
}

.sort_hide{ display:none;}

.table-container{
    margin-top: 1.5%;
    margin-right: 1%;
    margin-bottom: 1.5%;
    margin-left: 1%;
}

table.general {
    width:100%;    
    background: whitesmoke;
    border-radius: 10px;
    padding: 1%;
}

th.general {
    font-family: sans-serif;
    font-size: 17px;
    color: darkblue;
    padding:.5em .1em .5em .2em;            
    text-align: center;
    border-bottom: .7px solid #C4BDBDED;
    letter-spacing: 1px;
}

th.indicator {
    margin-left: 6px 
}

td.general {
    font-family: sans-serif;
    font-size: 16px;
    color: #848484;
    padding:.4em 1em .2em .4em;
    height:35px; 
    width: 50px;
    white-space: nowrap;
    text-align: center;
    border-bottom: .7px solid #C4BDBDED;

    
}

td.first {
    border-bottom: .7px solid #C4BDBDED;
}

td.empty { 
    font-family: system-ui;
    font-size: 18px;
    color:#848484; 
    font-style: normal; 
    text-align: center;
    padding:4em 0;
}

.is_dir .size {color:transparent;font-size:0;}
.is_dir .size:before {content: "--"; font-size:14px;color:#333;}
.is_dir .download{visibility: hidden}

a.delete {display:inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADtSURBVHjajFC7DkFREJy9iXg0t+EHRKJDJSqRuIVaJT7AF+jR+xuNRiJyS8WlRaHWeOU+kBy7eyKhs8lkJrOzZ3OWzMAD15gxYhB+yzAm0ndez+eYMYLngdkIf2vpSYbCfsNkOx07n8kgWa1UpptNII5VR/M56Nyt6Qq33bbhQsHy6aR0WSyEyEmiCG6vR2ffB65X4HCwYC2e9CTjJGGok4/7Hcjl+ImLBWv1uCRDu3peV5eGQ2C5/P1zq4X9dGpXP+LYhmYz4HbDMQgUosWTnmQoKKf0htVKBZvtFsx6S9bm48ktaV3EXwd/CzAAVjt+gHT5me0AAAAASUVORK5CYII=) no-repeat scroll 0 2px;
    color:#d00; margin-left: 15px;font-size:10px;padding:0 0 0 13px;
}

.general a:hover {
    color: skyblue ;
}

.general a{
    color: darkblue;
    text-decoration: none;
}

/*
.is_dir .name {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADdgAAA3YBfdWCzAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAI0SURBVFiF7Vctb1RRED1nZu5977VQVBEQBKZ1GCDBEwy+ISgCBsMPwOH4CUXgsKQOAxq5CaKChEBqShNK222327f79n0MgpRQ2qC2twKOGjE352TO3Jl76e44S8iZsgOww+Dhi/V3nePOsQRFv679/qsnV96ehgAeWvBged3vXi+OJewMW/Q+T8YCLr18fPnNqQq4fS0/MWlQdviwVqNpp9Mvs7l8Wn50aRH4zQIAqOruxANZAG4thKmQA8D7j5OFw/iIgLXvo6mR/B36K+LNp71vVd1cTMR8BFmwTesc88/uLQ5FKO4+k4aarbuPnq98mbdo2q70hmU0VREkEeCOtqrbMprmFqM1psoYAsg0U9EBtB0YozUWzWpVZQgBxMm3YPoCiLpxRrPaYrBKRSUL5qn2AgFU0koMVlkMOo6G2SIymQCAGE/AGHRsWbCRKc8VmaBN4wBIwkZkFmxkWZDSFCwyommZSABgCmZBSsuiHahA8kA2iZYzSapAsmgHlgfdVyGLTFg3iZqQhAqZB923GGUgQhYRVElmAUXIGGVgedQ9AJJnAkqyClCEkkfdM1Pt13VHdxDpnof0jgxB+mYqO5PaCSDRIAbgDgdpKjtmwm13irsnq4ATdKeYcNvUZAt0dg5NVwEQFKrJlpn45lwh/LpbWdela4K5QsXEN61tytWr81l5YSY/n4wdQH84qjd2J6vEz+W0BOAGgLlE/AMAPQCv6e4gmWYC/QF3d/7zf8P/An4AWL/T1+B2nyIAAAAASUVORK5CYII=) no-repeat scroll 0px 15px;
    background-position: left center;
    padding:15px 0 10px 40px;
}
*/

.archivo {
    font-size: 22px;
    color: #85929E !important;
}

.carpeta {
    font-size: 22px;
    color: #F7DC6F !important;
}

.link {
    font-size: 22px;
    color: #F7DC6F !important;
}

@media only screen and (max-width: 850px) {
    .movil {
        display: none;
    }
    body{
        width: auto;
    }

    .header-container {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0;
        width: auto;
        height: auto;
    }

    .header-container__img {
        margin-left: 0.5%;
        width: 165px;
        height: 67px;
    }

    .header-container__p {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0.5%;
        padding-right: 0;
    }

    .titulo {
        font-size: 24px;
        line-height: normal;
    }

    .subtitulo {
        font-size: 10px;
    }

    #top {
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .table-container{
        padding: 0;
        margin-top: 1%;
        margin-right: 0;
        margin-bottom: 1%;
        margin-left: 0;
    }

    table.general {
        padding-top: .5em;
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        margin-bottom: .5em;
    }

    td.first {
        width: 90%;
        line-height: 1.5;
    }

    td.general {
        padding: none;
    }

}