body {
    width: 100%;
    height: 100%; 
    background: linear-gradient(
        90deg,
        #6f7ae0 0%,
        #6b78dc 30%,
        #6a6fd2 60%,
        #6b5fbf 100%
    );
}

.table i {
    font-size: 18px;
}

.list-group-item i {
    font-size: 18px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 25, 70, 0.95);
    border-radius: 0px 0px 5px 5px;
    padding: 1rem 2rem 1rem 2rem;
} 

.titulo {
    color: white;
    font-family: math;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.subtitulo {
    color: whitesmoke;
    font-family: math;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

p {
    margin: 0 !important;
}

.columna_centro {
    text-align: center;
    text-justify: center;
}

a { 
    text-decoration: none;
}

.mt-4 {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .movil {
        display: none;
    }

    .header-container {
        padding: 1rem 2rem 1rem 0.8rem;
    } 

    .contenedor-nombre {
        margin-right: 0.5rem;
    }
